@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #FFFFFF;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.glass-panel {
  background: rgba(10, 10, 10, 0.6);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
